@page "/chat"

@inject LMKitService LMKitService
@inject HttpClient Http
@inject IJSRuntime JS
@inject IScrollHandler ScrollHandler
@inject IResizeHandler ResizeHandler
@inject ILogger<Chat> Logger
@inject ISnackbar Snackbar
@inherits MvvmComponentBase<ChatPageViewModel>

<SectionContent SectionName="top-bar">
    <div id="chat-top-bar">
        <div
            class="top-bar-side @(ViewModel.ChatsSidebarIsToggled ? "top-bar-sidebar-toggled" : "top-bar-sidebar-collapsed")">
            <div class="d-flex justify-space-between flex-grow-1 align-center">
                <IconButton Style="IconButton.ButtonStyle.SidebarToggle"
                            Icon="fas fa-message"
                            OnClick="ViewModel.ToggleChatsSidebar"/>

                @if (ViewModel.ChatsSidebarIsToggled)
                {
                    <div>
                        <MudText Typo="Typo.body2">
                            Chats
                        </MudText>
                    </div>
                }

                <IconButton Style="IconButton.ButtonStyle.SecondaryAction"
                            Icon="fas fa-add"
                            OnClick="ViewModel.ConversationListViewModel.AddNewConversation"/>
            </div>

            <div class="bottom-divider"></div>
        </div>

        <div id="top-bar-center">
            <ModelSelectionButton ModelListViewModel="ViewModel.ModelListViewModel"/>
        </div>

        <div
            class="top-bar-side @(ViewModel.SettingsSidebarIsToggled ? "top-bar-sidebar-toggled" : "top-bar-sidebar-collapsed")">

            <div class="d-flex justify-space-between flex-grow-1 align-center">
                @if (ViewModel.SettingsSidebarIsToggled)
                {
                    <IconButton Style="IconButton.ButtonStyle.SecondaryAction"
                                Icon="fas fa-arrow-rotate-left"
                                OnClick="ViewModel.SettingsViewModel.ResetDefaultValues"/>

                    <MudText Typo="Typo.body2">
                        Settings
                    </MudText>
                }

                <IconButton Style="IconButton.ButtonStyle.SidebarToggle"
                            Icon="fas fa-gears"
                            OnClick="ViewModel.ToggleSettingsSidebar"/>
            </div>

            <div class="bottom-divider"></div>
        </div>
    </div>
</SectionContent>


<div id="chat-container">
    <div class="@(ViewModel.ChatsSidebarIsToggled ? "sidebar-container" : "hide")">
        <div id="chats-sidebar" class="sidebar-content">
            <div id="conversation-list">
                @foreach (var conversation in ViewModel.ConversationListViewModel.Conversations)
                {
                    <ConversationListItem OnSelect="OnConversationItemSelected"
                                          OnDelete="OnConversationItemDeleteClicked"
                                          IsSelected="@(conversation == ViewModel.ConversationListViewModel.CurrentConversation)"
                                          ViewModel="conversation"/>
                }
            </div>
            @* <MudDivider/> *@
        </div>
        <div class="vertical-divider"></div>
    </div>

    <div id="chat-body">
        <div id="conversation-content">
            @if (ViewModel?.ConversationListViewModel.CurrentConversation != null)
            {
                if (ViewModel.ConversationListViewModel.CurrentConversation.IsEmpty)
                {
                    <div id="empty-conversation" class="chat-element vertical-stack">
                        <div class="vertical-stack spacing-4">
                            <div class="welcome-message">
                                <b>Maestro</b> at your service—let’s orchestrate something
                                amazing!
                            </div>
                            <div class="welcome-message">
                                Feel free to ask questions, explore ideas, or engage in meaningful conversations.

                            </div>
                            <div class="welcome-message">
                                Whether you need assistance, inspiration, or just some lighthearted chat, I'm here to
                                help.

                            </div>

                        </div>

                        <div class="vertical-stack" style="gap:12px;">
                            <div class="shortcut-instruction">
                                Press Enter to send a new message
                            </div>

                            <div class="shortcut-instruction">
                                Hold Shift + Enter to insert a new line
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="chat-messages" class="chat-element">
                        @foreach (var message in ViewModel.ConversationListViewModel.CurrentConversation.Messages)
                        {
                            <ChatMessage MessageViewModel="message"/>
                        }

                        <div id="chat-messages-bottom-space">
                            <div id="scroll-to-end">
                                @if (!IsScrolledToEnd)
                                {
                                    <button @onclick="OnScrollToEndButtonClicked"
                                            class="round-button scroll-to-end-button">
                                                                                <span>
                                                                                    <i class="fas fa-arrow-down"></i>
                                                                                </span>
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div id="user-input" class="chat-element">
            <UserInput ViewModel="ViewModel!.ConversationListViewModel.CurrentConversation"/>
        </div>

        <div id="bottom-space">
            @if (ViewModel?.ConversationListViewModel?.CurrentConversation?.LMKitConversation?.ContextSize > 0)
            {
                <MudText Align="Align.Center" Typo="Typo.caption">
                    Tokens: @ViewModel.ConversationListViewModel.CurrentConversation.LMKitConversation.ContextUsedSpace /
                    @ViewModel.ConversationListViewModel.CurrentConversation.LMKitConversation.ContextSize
                    (@CalculateUsagePercentage(ViewModel.ConversationListViewModel.CurrentConversation.LMKitConversation.ContextUsedSpace,
                             ViewModel.ConversationListViewModel.CurrentConversation.LMKitConversation.ContextSize)%)
                </MudText>
            }
        </div>
    </div>

    <div class="@(ViewModel.SettingsSidebarIsToggled ? "sidebar-container" : "hide")">
        <div class="vertical-divider"></div>
        <div id="settings-sidebar" class="sidebar-content">
            <ChatSettings ViewModel="ViewModel.SettingsViewModel"/>
        </div>
    </div>
</div>
