@inherits ComponentBase
@inject IJSRuntime JS

<div @ref="_sidebarContainer"
style="width: @(Width)px;"
class="@GetClasses()">
    @if (Position == SidebarPosition.Right)
    {
        <div @onmousedown="OnResizeHandlerMouseDown"
        @onmousedown:preventDefault="true"
        @onmousedown:stopPropagation="true"
        class="@(Resizable ? "resize-handle" : "vertical-divider")">
            @if (Resizable)
            {
                <div class="vertical-divider"></div>
            }
        </div>
    }

    <div class="sidebar-content scrollable @(ShowScrollbar ? "hover-scrollable" : "no-scrollbar")">
        @ChildContent
    </div>

    @if (Position == SidebarPosition.Left)
    {
        <div @onmousedown="OnResizeHandlerMouseDown"
        @onmousedown:preventDefault="true"
        @onmousedown:stopPropagation="true"
        class="@(Resizable ? "resize-handle" : "vertical-divider")">
            @if (Resizable)
            {
                <div class="vertical-divider"></div>
            }
        </div>
    }
</div>

@code
{
    private int _resizeStartX;
    private int _resizeStartWidth;
    private ElementReference _sidebarContainer;

    [Parameter] public EventCallback<bool> IsToggledChanged { get; set; }
    [Parameter] public EventCallback<bool> IsResizingChanged { get; set; }
    [Parameter] public EventCallback<int> WidthChanged { get; set; }
    [Parameter] public required RenderFragment ChildContent { get; set; }
    [Parameter] public bool ShowScrollbar { get; set; }
    [Parameter] public bool Resizable { get; set; }
    [Parameter] public required SidebarPosition Position { get; set; }

    private bool _isToggled;
    [Parameter]
    public bool IsToggled
    {
        get => _isToggled;
        set
        {
            if (value != _isToggled)
            {
                _isToggled = value;
                IsToggledChanged.InvokeAsync(value);
                Width = IsToggled ? 300 : 0;
                InvokeAsync(() => StateHasChanged());
            }
        }
    }

    private int _width;
    public int Width
    {
        get => _width;
        private set
        {
            if (value != _width)
            {
                _width = value;
                WidthChanged.InvokeAsync(value);
                InvokeAsync(() => StateHasChanged());
            }
        }
    }

    private bool _isResizing;
    public bool IsResizing
    {
        get => _isResizing;
        private set
        {
            if (value != _isResizing)
            {
                _isResizing = value;
                IsResizingChanged.InvokeAsync(value);
                InvokeAsync(() => StateHasChanged());
            }
        }
    }

    private string GetClasses()
    {
        string classes = "sidebar-container";

        classes += IsToggled ? " sidebar-toggled" : " sidebar-hidden";
        classes += Resizable ? " resizable-sidebar" : " fixed-sidebar";

        if (!IsResizing)
        {
            classes += " width-transition";
        }

        return classes;
    }

    [JSInvokable]
    public void ToggleSidebar(bool value)
    {
        IsToggled = value;
        InvokeAsync(() => StateHasChanged());
    }

    [JSInvokable]
    public bool CheckIsToggled()
    {
        return IsToggled;
    }


    private async Task OnResizeHandlerMouseDown(MouseEventArgs e)
    {
        IsResizing = true;
        _resizeStartX = (int)e.ClientX;
        _resizeStartWidth = Width;
        // Debug.WriteLine("[down]");

        await JS.InvokeVoidAsync("attachResizeListeners", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public void OnMouseMove(MouseEventArgs e)
    {
        if (IsResizing)
        {
            int requestedWidth = _resizeStartWidth + (int)(_resizeStartX - e.ClientX);

            if (requestedWidth < 80)
            {
                IsToggled = false;
            }
            else
            {
                if (!IsToggled)
                {
                    IsToggled = requestedWidth > 80;
                }

                if (IsToggled)
                {
                    Width = Math.Max(150, Math.Min(400, requestedWidth));
                }
            }
        }

        // Debug.WriteLine("[move] " + _isResizing);
    }

    [JSInvokable]
    public void OnMouseUp()
    {
        // Debug.WriteLine("[released]");
        IsResizing = false;
    }

    public enum SidebarPosition
    {
        Left,
        Right
    }
}