@page "/chat"

@inject LMKitService LMKitService
@inject HttpClient Http
@inject IJSRuntime JS
@inject IScrollHandler ScrollHandler
@inject IResizeHandler ResizeHandler
@inject ILogger<Chat> Logger
@inject ISnackbar Snackbar
@inherits MvvmComponentBase<ChatPageViewModel>

<SectionContent SectionName="top-bar">
    <div id="chat-top-bar">
        <div class="top-bar-side @(ViewModel.ChatsSidebarIsToggled ? "top-bar-sidebar-toggled" : "top-bar-sidebar-collapsed")">
            <MudIconButton class="secondary-action-button"
                           title="@(Locales.DisplayChats)"
                           Size="Size.Small"
                           Icon="fas fa-message"
                           @onclick="ViewModel.ToggleChatsSidebar">
            </MudIconButton>

            @if (ViewModel.ChatsSidebarIsToggled)
            {
                <MudText Typo="Typo.body2">
                    Chats
                </MudText>
            }

            <MudIconButton Class="secondary-action-button"
                           title="@(Locales.StartNewChat)"
                           Icon="fas fa-add"
                           Size="Size.Small"
                           @onclick="ViewModel.StartNewConversation">
            </MudIconButton>
        </div>

        <div id="top-bar-center">
            <ModelSelectionButton ModelListViewModel="ViewModel.ModelListViewModel" />
        </div>

        <div class="top-bar-side @(ViewModel.SettingsSidebarIsToggled ? "top-bar-sidebar-toggled" : "top-bar-sidebar-collapsed")">

            @if (ViewModel.SettingsSidebarIsToggled)
            {
                <MudIconButton class="secondary-action-button"
                               title="@(Locales.ResetDefaultSettings)"
                               Icon="@Icons.Material.Filled.SettingsBackupRestore"
                               @onclick="ViewModel.SettingsViewModel.ResetDefaultValues">
                </MudIconButton>

                <MudText Typo="Typo.body2">
                    Settings
                </MudText>
            }

            <MudIconButton Class="secondary-action-button"
                           title="@(Locales.DisplaySettings)"
                           Icon="@Icons.Material.Filled.Tune"
                           @onclick="ViewModel.ToggleSettingsSidebar">
            </MudIconButton>
        </div>
    </div>
</SectionContent>

<div id="chat-container">
    <div id="chats-sidebar" class="@(ViewModel.ChatsSidebarIsToggled ? "sidebar" : "sidebar-hide")">
        <div id="conversation-list">

            @foreach (var conversation in ViewModel.ConversationListViewModel.Conversations)
            {
                <ConversationListItem OnSelect="OnConversationItemSelected"
                                      OnDelete="OnConversationItemDeleteClicked"
                                      IsSelected="@(conversation == ViewModel.ConversationListViewModel.CurrentConversation)"
                                      ViewModel="conversation" />
            }
        </div>
    </div>

    <div id="chat-body">
@*         <div id="conversation-content">
            @if (ViewModel?.ConversationListViewModel.CurrentConversation != null)
            {
                if (ViewModel.ConversationListViewModel.CurrentConversation.IsEmpty)
                {
                    <div id="empty-conversation" class="chat-element vertical-stack">
                        <div class="vertical-stack spacing-4">
                            <div class="welcome-message">
                                <b>Maestro</b> at your service—let’s orchestrate something
                                amazing!
                            </div>
                            <div class="welcome-message">
                                Feel free to ask questions, explore ideas, or engage in meaningful conversations.

                            </div>
                            <div class="welcome-message">
                                Whether you need assistance, inspiration, or just some lighthearted chat, I'm here to
                                help.

                            </div>

                        </div>

                        <div class="vertical-stack" style="gap:12px;">
                            <div class="shortcut-instruction">
                                Press Enter to send a new message
                            </div>

                            <div class="shortcut-instruction">
                                Hold Shift + Enter to insert a new line
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="chat-messages" class="chat-element">
                        @foreach (var message in ViewModel.ConversationListViewModel.CurrentConversation.Messages)
                        {
                            <ChatMessage MessageViewModel="message" />
                        }

                        <div id="chat-messages-bottom-space">
                            <div id="scroll-to-end">
                                @if (!IsScrolledToEnd)
                                {
                                    <button @onclick="OnScrollToEndButtonClicked"
                                            class="round-button scroll-to-end-button">
                                        <span>
                                            <i class="fas fa-arrow-down"></i>
                                        </span>
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
 *@
        <div id="user-input" class="chat-element">
            <UserInput ViewModel="ViewModel!.ConversationListViewModel.CurrentConversation" />
        </div>

        <div id="bottom-space">
            @if (ViewModel?.ConversationListViewModel?.CurrentConversation?.LMKitConversation?.ContextSize > 0)
            {
                <MudText Align="Align.Center" Typo="Typo.subtitle1">
                    Tokens: @ViewModel.ConversationListViewModel.CurrentConversation.LMKitConversation.ContextUsedSpace /
                    @ViewModel.ConversationListViewModel.CurrentConversation.LMKitConversation.ContextSize
                    (@CalculateUsagePercentage(ViewModel.ConversationListViewModel.CurrentConversation.LMKitConversation.ContextUsedSpace,
                            ViewModel.ConversationListViewModel.CurrentConversation.LMKitConversation.ContextSize)%)
                </MudText>
            }
        </div>
    </div>

    @*     <div id="settings-sidebar"
         class="@(ViewModel.SettingsSidebarIsToggled ? "sidebar" : "sidebar-hide")">
        <ChatSettings/>
    </div> *@
</div>
