@inherits ComponentBase

<div @onclick="OnSelected" id="item-container" class="@(IsSelected ? "item-selected" : "")">
    <MudText Typo="Typo.subtitle1" Inline="true">
        @ViewModel.Title
    </MudText>

    <t>
        @ViewModel.IsShowingActionPopup
    </t>
    
    <div id="show-more-button" class="@(IsSelected ? "show" : "hide")">
        <MudIconButton @onclick="() => OnShowMore.InvokeAsync(ViewModel)"
        Icon="@Icons.Material.Filled.MoreHoriz"
        Size="Size.Small"
        Color="Color.Dark" />
    </div>
</div>

@code
{
    [Parameter] public EventCallback<ConversationViewModel> OnSelect { get; set; }
    [Parameter] public EventCallback<ConversationViewModel> OnShowMore { get; set; }
    [Parameter] public EventCallback<ConversationViewModel> OnDelete { get; set; }
    [Parameter] public required ConversationViewModel ViewModel { get; set; }
    [Parameter] public bool IsSelected { get; set; }

    private void OnRenameClicked()
    {
        ViewModel.IsRenaming = true;
        ViewModel.IsShowingActionPopup = false;
    }

    private void OnSelected()
    {
        ViewModel.IsShowingActionPopup = false;
        OnSelect.InvokeAsync(ViewModel);
    }

    private void OnDeleteClicked()
    {
        ViewModel.IsShowingActionPopup = false;
        OnDelete.InvokeAsync(ViewModel);
    }
}