@inherits ComponentBase

<div @onclick="OnSelected" id="item-container" class="@(IsSelected ? "item-selected" : "")">

    <MudTextField Underline=false 
        @ref="ItemTitleRef" 
        @bind-Value="ViewModel.Title" 
        OnKeyDown="OnKeyPressed"
        ReadOnly="@(!ViewModel.IsRenaming)"/>

    <div>
        <div id="show-more-button" class="@(IsSelected ? "show" : "hide")">
            <MudIconButton @onclick="() => OnShowMore.InvokeAsync(ViewModel)"
                            Icon="@Icons.Material.Filled.MoreHoriz"
                            Size="Size.Small"/>
        </div>

        <MudPopover  Open="@ViewModel.IsShowingActionPopup" Fixed="true">
            <div class="d-flex flex-column">
                <MudButton @onclick="OnRenameClicked">
                    Rename
                </MudButton>

                <MudButton @onclick="OnSelected">
                    Select
                </MudButton>

                <MudButton @onclick="OnDeleteClicked"
                            Color="Color.Error">
                    Delete
                </MudButton>
            </div>
        </MudPopover>
    </div>
</div>
