@inherits ComponentBase

<div @onclick="OnSelected" id="item-container" class="@(IsSelected ? "item-selected" : "")">

    <MudTextField Underline=false
                  @ref="ItemTitleRef"
                  @bind-Value="Title"
                  @onfocusout="OnTitleFocusOut"
                  OnKeyDown="OnKeyPressed"
                  Typo="Typo.subtitle2"
                  Immediate="true"
                  TextUpdateSuppression="false"
                  ReadOnly="@(!ViewModel.IsRenaming)"/>

    <div>
        <div id="show-more-button" class="@(IsSelected ? "show" : "collapse")">
            <MudIconButton @onclick="OnShowMoreClicked"
                           Icon="@Icons.Material.Filled.MoreHoriz"
                           Size="Size.Small"/>
        </div>

        <MudPopover Open="@ViewModel.IsShowingActionPopup" Fixed="true">
            <div class="action-sheet">
                <MudButton Variant="Variant.Text" @onclick="OnSelected">
                    <MudText Typo="Typo.subtitle2">Select</MudText>
                </MudButton>
                <MudButton Variant="Variant.Text" @onclick="OnRenameClicked">
                    <MudText Typo="Typo.subtitle2">Rename</MudText>
                </MudButton>
                <MudButton Variant="Variant.Text" @onclick="OnDeleteClicked">
                    <MudText Color="Color.Error" Typo="Typo.subtitle2">Delete</MudText>
                </MudButton>
            </div>
        </MudPopover>

        <MudOverlay @bind-Visible="ViewModel.IsShowingActionPopup"
                    @onclick="OnClickOutsideShowMore"
                    AutoClose="true"/>
    </div>
</div>
