<div id="root">
    <div class="model-card" @onclick="OnItemClicked">
        <MudStack Spacing="2">
            <div class="text-truncate">
                @(ViewModel.ModelInfo.ShortModelName)
            </div>

            <MudText Typo="Typo.overline" Color="Color.Secondary">
                @Helpers.FileHelpers.FormatFileSize(ViewModel.ModelInfo.FileSize)
            </MudText>
        </MudStack>

        <div>
            @(ViewModel.ModelInfo.Architecture)
        </div>

        <MudStack Row="true" AlignItems="AlignItems.Center">
            @if (ViewModel.IsChatModel)
            {
                <MudIcon Icon="@Icons.Material.Outlined.Message" Size="Size.Small" />
            }

            @if (ViewModel.HasVisionCapability)
            {
                <MudIcon Icon="@Icons.Material.Outlined.Visibility" Size="Size.Small" />
            }

            @if (ViewModel.IsCodeModel)
            {
                <MudIcon Icon="@Icons.Material.Outlined.Code" Size="Size.Small" />
            }

            @if (ViewModel.IsMathModel)
            {
                <MudIcon Icon="@Icons.Material.Outlined.Calculate" Size="Size.Small" />
            }
        </MudStack>

        <MudStack Row="true">
            <MudText>
                @ViewModel.ModelSize
            </MudText>

            <MudText>
                @ViewModel.MaxContextLengthKB
            </MudText>

            <MudText>
                @ViewModel.Precision
            </MudText>

            <MudText>
                @ViewModel.MaxContextLengthKB
            </MudText>
        </MudStack>
    </div>

    <MudOverlay @bind-Visible="_isShowingActionSheet" AutoClose="true" />
    <div>
        <MudPopover AnchorOrigin="Origin.TopLeft" Open="@_isShowingActionSheet" Fixed="true">
            <div Class="d-flex flex-column item-actions">
                <MudButton Variant="Variant.Text" @onclick="OnOpenInExplorerClicked">
                    <MudText Typo="Typo.subtitle2">Reveal in explorer</MudText>
                </MudButton>
                <MudButton Variant="Variant.Text" @onclick="OnOpenHfLinkClicked">
                    <MudText Typo="Typo.subtitle1">Open on Hugging Face</MudText>
                </MudButton>

                @if (ViewModel.DownloadInfo.Status == DownloadStatus.Downloaded)
                {
                    <MudButton Variant="Variant.Text" @onclick="OnDeleteClicked">
                        <MudText Color="Color.Error" Typo="Typo.subtitle2">Delete from disk</MudText>
                    </MudButton>
                }
            </div>
        </MudPopover>
    </div>
</div>

<style>

    #root {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .model-card {
        max-width: 800px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border: 1px solid var(--Outline);
        border-radius: 4px;
        background-color: var(--Surface15);
        flex-grow: 1;
        cursor: pointer;
    }

        .model-card:hover {
            background-color: var(--Surface2);
        }
</style>

@code {
    [Parameter] public required ModelInfoViewModel ViewModel { get; set; }

    [Parameter] public EventCallback<ModelInfoViewModel> OpenInExplorerClicked { get; set; }
    [Parameter] public EventCallback<ModelInfoViewModel> OpenHfLinkClicked { get; set; }
    [Parameter] public EventCallback<ModelInfoViewModel> DeleteClicked { get; set; }

    private bool _isShowingActionSheet;

    private async void OnItemClicked()
    {
        if (!_isShowingActionSheet)
        {
            _isShowingActionSheet = true;
        }
        else
        {
            _isShowingActionSheet = false;
        }
    }

    private async Task OnOpenInExplorerClicked()
    {
        await OpenInExplorerClicked.InvokeAsync();
    }

    private async Task OnOpenHfLinkClicked()
    {
        await OpenHfLinkClicked.InvokeAsync();
    }

    private async Task OnDeleteClicked()
    {
        await DeleteClicked.InvokeAsync();
    }

    private async Task OnDownloadClicked()
    {
        // await OnDownloadClicked.InvokeAsync();
    }
}