@page "/models"

@inject ISnackbar Snackbar
@inherits MvvmComponentBase<ModelsPageViewModel>

<SectionContent SectionName="top-bar">
    <div id="model-page-top-bar">
        <div class="d-flex flex-row justify-center align-center align-content-center px-4 gap-2">
            @if (ViewModel.FileManager.FileCollectingInProgress)
            {
                <MudProgressCircular Class="xs-loader outline" Size="Size.Small" Indeterminate="true" />
            }

            @if (ViewModel.FileManager.DownloadedCount > 0)
            {
                <MudText Typo="Typo.overline">
                    <span>You have</span>
                    <span><b> @(ViewModel.FileManager.DownloadedCount) </b></span>
                    <span> @(ViewModel.FileManager.DownloadedCount > 1 ? "models" : "model") </span>
                    <span> taking up </span>
                    <span><b> @(FileHelpers.FormatFileSize(ViewModel.FileManager.TotalModelSize))</b></span>
                </MudText>
            }
            else
            {
                @if (ViewModel.FileManager.FileCollectingInProgress)
                {
                    <MudText Align="Align.Center" Typo="Typo.overline">
                        Scanning for models...
                    </MudText>
                }
                else
                {
                    <MudText Align="Align.Center" Typo="Typo.overline">
                        You model folder is empty.
                    </MudText>
                }
            }
        </div>
        <div class="d-flex flex-row gap-2 flex-grow-1 justify-center align-center align-content-center px-4">
            <MudText Typo="Typo.overline">
                Model folder:
            </MudText>

            <div id="model-folder-container">
                <MudText Typo="Typo.body2" Class="text-truncate">
                    @ViewModel.AppSettingsService.ModelStorageDirectory
                </MudText>
            </div>

            <IconButton Style="IconButton.ButtonStyle.SecondaryAction"
                        Icon="fas fa-edit"
                        Tooltip="@Locales.SelectAnotherFolder"
                        OnClick="ViewModel.PickModelsFolder" />

            <IconButton Style="IconButton.ButtonStyle.SecondaryAction"
                        Icon="fas fa-folder-open"
                        Tooltip="@Locales.OpenInFileExplorer"
                        OnClick="ViewModel.OpenModelsFolder" />

            <IconButton Style="IconButton.ButtonStyle.SecondaryAction"
                        Icon="fas fa-rotate-left"
                        Tooltip="@Locales.ResetModelFolder"
                        OnClick="ViewModel.ResetModelsFolder" />
        </div>
    </div>
</SectionContent>

<div id="model-page-container">
    <div id="model-list-container">
        <ModelList  LimitWidth="true" />
    </div>

    <div class="bottom-space">
        <div id="hf-link" class="d-flex flex-row align-center gap-2">
            <img width="20" height="20" src="huggingface.svg" />
            <span class="hf-link">
                Explore more models
            </span>
        </div>
    </div>
</div>

<style>
    #model-page-top-bar {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 8px;
    }

    #model-page-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #model-folder-container {
        max-width: 400px;
        border-radius: 4px;
        border: 1px solid var(--Surface3);
        flex-grow: 1;
        flex-shrink: 1;
        padding: 4px;
    }

    #model-list-container {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding: 0.5rem;
    }

    .bottom-space {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-block: 1.25rem;
    }

    #hf-link {
        cursor: pointer;
        color: var(--Outline);
    }

        #hf-link:hover {
            color: #FFD21E;
        }

</style>

@code {

    private void OnDeleteClicked(ModelInfoViewModel modelInfoViewModel)
    {
        ViewModel.ModelListViewModel.DeleteModel(modelInfoViewModel);
    }

    private void OnModelOpenInExplorerClicked(ModelInfoViewModel modelInfoViewModel)
    {
        ViewModel.ModelListViewModel.OpenModelInExplorer(modelInfoViewModel);
    }

    private void OnModelOpenHfLinkClicked(ModelInfoViewModel modelInfoViewModel)
    {
        ViewModel.ModelListViewModel.OpenModelInExplorer(modelInfoViewModel);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            ViewModel.ModelListViewModel.Models.CollectionChanged += OnModelCollectionChanged;
            ViewModel.FileManager.PropertyChanged += OnFileManagerPropertyChanged;
        }
    }

    private void OnFileManagerPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        InvokeAsync(() => StateHasChanged());
    }

    private void OnModelCollectionChanged(object? sender, System.Collections.Specialized.NotifyCollectionChangedEventArgs e)
    {
        InvokeAsync(() => StateHasChanged());
    }

}
