@inherits ComponentBase

<div @onclick="OnSelected" id="item-container" class="@GetContainerClasses()">

    @* Star indicator - always visible when starred *@
    <div class="@GetStarIndicatorClasses()" @onclick="OnStarClicked" @onclick:stopPropagation="true" title="@(ViewModel.IsStarred ? "Remove from starred" : "Add to starred")">
        <i class="@GetStarIconClass()"></i>
    </div>

    <MudTextField Underline=false
                  @ref="ItemTitleRef"
                  @bind-Value="Title"
                  @onfocusout="OnTitleFocusOut"
                  OnKeyDown="OnKeyPressed"
                  Typo="Typo.subtitle2"
                  Immediate="true"
                  TextUpdateSuppression="false"
                  ReadOnly="@(!ViewModel.IsRenaming)" />

    <div class="item-actions">
        <div id="show-more-button" class="@(IsSelected ? "show" : "collapse")">
            <MudIconButton @onclick="OnShowMoreClicked"
                           Icon="@Icons.Material.Filled.MoreHoriz"
                           Size="Size.Small" />
        </div>

        <MudPopover Open="@ViewModel.IsShowingActionPopup" Fixed="true">
            <div class="action-menu">
                <button class="menu-item" @onclick="OnStarClicked">
                    <i class="@(ViewModel.IsStarred ? "fas fa-star" : "far fa-star") menu-icon @(ViewModel.IsStarred ? "star-active" : "")"></i>
                    <span>@(ViewModel.IsStarred ? "Unstar" : "Star")</span>
                </button>
                <button class="menu-item" @onclick="OnRenameClicked">
                    <i class="fas fa-pen menu-icon"></i>
                    <span>Rename</span>
                </button>
                <div class="menu-divider"></div>
                <button class="menu-item menu-item-danger" @onclick="OnDeleteClicked">
                    <i class="fas fa-trash-can menu-icon"></i>
                    <span>Delete</span>
                </button>
            </div>
        </MudPopover>

        <MudOverlay @bind-Visible="ViewModel.IsShowingActionPopup"
                    @onclick="OnClickOutsideShowMore"
                    AutoClose="true" />
    </div>
</div>
